#CuadroDeMensaje{
    display: flex;
    justify-content: center;
    width: 100%;
    
    margin-bottom: 80px;
    
}

#SubcuadroDeMensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    
    padding: 20px 0;
    
    background-color: rgba(255,255,255,0.9);
    border-radius: 40px;
}

#MensajeDeEvento{
    width: 90%;
    margin-bottom: 14px;
    
    color: saddlebrown;
    text-align: center;
    
    font-size: 1.4em;
    font-weight: 500;
}