#PerrosEnAdopcion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
    width: 100%;
}

#CuadroPerrosEnAdopcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 90%;
    max-width: 1024px;
}

#CuadroDeTituloDePerrosEnAdopcion{
    display: flex;
    align-items: center;
    
    margin-bottom: 40px;
}

#TamanoDeHuella{
    position: relative;
    left: 20px;
    bottom: 0;
    width: 80px;
    height: 70px;
    
    transform: rotate(-20deg);
    transition: all 0.3s;
}

#TamanoDeHuella:hover{
    bottom: 15px;
}

#TituloDePerrosEnAdopcion{
    padding: 10px 30px;
    border-radius: 20px;
    
    font-size: 3em;
    color: #fff;
    
    background-color: saddlebrown;
    transition: all 0.3s;
}

#TituloDePerrosEnAdopcion:hover{
    color: #ffff00;
}





#Instruccion{
    margin-bottom: 14px;
    
    color: #000;
    text-align: center;
    
    font-size: 1.4em;
    font-weight: 500;
}

#ListaDeFotosDePerros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 40px;
    
    list-style: none;
}

.Perro{
    width: 250px;
    height: 250px;
    
    margin: 20px 40px 20px 20px;
    border-radius: 50%;
    
    background-color: #000;
    
    animation: MostrarImagenes 1.2s linear;
    transition: all 0.2s;
}

@keyframes MostrarImagenes{
    from{
        opacity: 0;
        margin: 60px 40px 60px 20px;
    }
    to{
        opacity: 1;
        margin: 20px 40px 20px 20px;
    }
}

.Perro:hover{
    transform: rotate(-15deg);
}

.Perro a{
    border-radius: 50%;
}

.NombreDePerro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    color: #fff;
    font-size: 0;
    text-align: center;
    
    transition: all 0.2s;
}

.NombreDePerro:hover{
    font-size: 3em;
    
    background-color: rgba(0,0,0,0.5);
}

#PerroUno{
    background-image: url(../Imagenes/Max.jpg);
    background-size: cover;
    background-position: center center;
}



/*=== Non-Mobile first ===*/
@media only screen and (max-width:720px){
    #TamanoDeHuella{        
        width: 50px;
        height: 40px;
    }

    #TituloDePerrosEnAdopcion{
        font-size: 1.9em;
        text-align: center;
    }
}

@media only screen and (max-width:480px){
    #TamanoDeHuella{        
        width: 60px;
        height: 50px;
    }

    #TituloDePerrosEnAdopcion{
        font-size: 1.8em;
    }
    
    .Perro{
        margin: 20px 0 20px 0;

        animation: MostrarImagenes 1.2s linear;
        transition: all 0.2s;
    }

    @keyframes MostrarImagenes{
        from{
            opacity: 0;
            margin: 60px 0 60px 0;
        }
        to{
            opacity: 1;
            margin: 20px 0 20px 0;
        }
    }
}